@media only screen and (min-width :200px) and (max-width:575px) {

    .tabs{
        flex-direction: row;
    }
    .tab-option ul{
        flex-direction: column;
        text-align: center;
    }

    .off{
        display:none;
    }
    .tab-option ul li{
        margin: 5px;
        font-size: 10px;
        display: none;
    }

    .tab-option ul li.burger-btn{
        display: block;
    }

    

    
    .home{
        background: transparent;
        /* background: linear-gradient(to right,rgba(0, 0, 0, 0.581),rgba(0, 0, 0, 0.575)),url("cafe.jpg"); */
        width: 100%;
        height: 600px;
        margin: 0;
        flex-direction: column;
        gap: 0;
    }

    .home-text{
        font-size: 28px;
        text-align: center;
        color:rgb(127, 89, 0);
        padding: 10px;

    }

    .svg{
        display: flex;
        justify-content: center;
        background-color: #da8f007a;
        border-radius: 40px;
        width: 300px;
        padding: 0 10px 0 10px;
        margin-top: 30px;
        
        border: 2px solid rgb(145, 82, 0);
    }

    .book-now{
        font-size: 15px;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0%{transform:scale(1);
        }
    50%{transform:scale(1.2);
    }
    100%{transform:scale(1);
        }
        
    }

    .cafe-img{
        margin: 0;
        width: 320px;
        box-shadow: 0 0 20px #242424;
    }

    h2,input,.place-booked{
        width: 300px;
    }

    
    input,h2,.place-booked{
        width: 253px;
    }

    .heading{
        font-size: 30px;
    }

    .about{
        flex-direction: column;
        gap: 20px;
    }

    .about-cafe-img{
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .about-text{
        font-size:12px ;
        padding: 20px;
    }

    .highlight{
        flex-direction: column;
        gap: 10px;
        height: 1000px;
    }

    .footer{
        margin-top: 30px;
    }
    i{
        font-size: 50px;
    }

    .highlight-heading{
        font-size: 15px;
    }

    .banner{
        margin: 0;
    }

    .food{
        width: 130px;
        height: 120px;
        gap: 2px;
    }


    .menu{
        gap: 15px;
        margin-top: 10px;
    }

    .menu-item{
        width: 160px;
        height:279px ;
        padding: 9px;
        
    }

   
    .food-name{
        font-size: 8px;
    }

    .price{
        font-size: 12px;
    }

    .line{
        font-size: 11px;
    }

    .desp{
        font-size: 8px;
    }


        .footer{
            gap: 0;
            text-align:center;
        
        }
        footer i{
            font-size: 15px;
        }

        
        .footer-logo{
        
            margin:auto;
        
        }
        
        .social-icons{
        
            justify-content:center;
        
        }

        .gallery{
            height: 100vh;
            grid-template-rows:1fr 1fr 1fr 1fr ;
            grid-template-columns:1fr;
        }
        
        .gallery-img{
            width: 180px;
            height: 120px;
        }
}



























