@media only screen and (min-width :200px) and (max-width:575px) {

    .tabs{
        flex-direction: row;
    }
    ul{
        flex-direction: column;
        text-align: center;
    }

    .off{
        width: 50px;
        height: 50px;
    }
    ul li{
        margin: 5px;
        font-size: 10px;
        display: none;
    }

    .burger-btn{
        display: block;
    }

    
    .home{
        background: transparent;
        /* background: linear-gradient(to right,rgba(0, 0, 0, 0.581),rgba(0, 0, 0, 0.575)),url("cafe.jpg"); */
        width: 100%;
        height: 600px;
        margin: 0;
        flex-direction: column;
        gap: 0;
    }

    .home-text{
        font-size: 28px;
        text-align: center;
        color:rgb(127, 89, 0);
        padding: 10px;

    }

    .svg{
        display: flex;
        justify-content: center;
        background-color: #da8f007a;
        border-radius: 40px;
        width: 300px;
        padding: 0 10px 0 10px;
        margin-top: 30px;
        
        border: 2px solid rgb(145, 82, 0);
    }

    .book-now{
        font-size: 15px;
    }

    .cafe-img{
        margin: 0;
        width: 320px;
        box-shadow: 0 0 20px #242424;
    }

    h2,input,.place-booked{
        width: 300px;
    }

    .booked{
        padding-top:200px;
    }

    .heading{
        font-size: 30px;
    }

    .about{
        flex-direction: column;
        gap: 20px;
    }

    .about-cafe-img{
        margin: auto;
        width: 200px;
        height: 200px;
    }

    .about-text{
        font-size:12px ;
        padding: 20px;
    }

    .highlight{
        flex-direction: column;
        gap: 10px;
        margin: 20px;
    }


    i{
        font-size: 50px;
    }

    .highlight-heading{
        font-size: 15px;
    }


    .food{
        width: 130px;
        height: 120px;
        gap: 2px;
    }


    .menu{
        gap: 15px;
    }

    .menu-item{
        width: 160px;
        height:279px ;
        padding: 9px;
        
    }

   
    .food-name{
        font-size: 8px;
    }

    .price{
        font-size: 12px;
    }

    .line{
        font-size: 11px;
    }

    .desp{
        font-size: 8px;
    }

    .cart{
        font-size: 10px;
    }


}