*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
    
}

html , body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.674) ,rgba(255, 255, 255, 0.625)),url("pattern.avif");
    background-size: cover;
    /* overflow-x:hidden; */
}

nav{
    background-color: #946000;
    position: fixed;
    width: 100%;
    z-index: 2;
    
}
.tabs,.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.tab-option ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.tab-option ul li{
    margin: 20px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(255, 208, 0);
}

#tab-img{
    font-size: small;
}

.tab-option ul li:hover{
    background: rgba(219, 219, 219, 0.9);
    transition: all 0.3s ease ;
    transform: translateY(-4px);
    
}
.tab-option ul li:hover a{
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: #8c5e06;
    font-size: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.tab-option ul .burger-btn{
    color: black;
    display: none;
    margin-right: 10px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.off{
    animation: pulse 2s infinite;
    padding: 1px;
}
@keyframes pulse{
    0%{transform:scale(1);
        }
    50%{transform:scale(1.2);
    }
    100%{transform:scale(1);
        }
}



.home-text{
    color: #946000;
    font-weight: bolder;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-now{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    background-color: #946000;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 50px;
    color: white;
    cursor: pointer;
    
}

.book-now:hover{
    background-color: #be7c02;
    transition: all 0.3s ease ;
    transform: scale(1.1);
    box-shadow: 0 0  10px #946000;
}



.booked{
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #94600082;
    text-align: center;
    padding: 26px;
    border-radius: 20px;
    border: 4px solid #e2a000;
    box-shadow: 0 0 20px gold;
    z-index: 2;
    
    
} 

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.458);
    backdrop-filter: blur(5px);
    z-index: 3;
    display: none;
}

.container2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.458);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: none;
}



.lock{
    overflow: hidden;
}



.book-seat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center; 

}

.cross{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    position: fixed;
    top:2px;
    right:6px;
    color: #ffe404;
    font-weight: bolder;
}

.cross:hover{
    color: red;
}

input{
    text-align: center;
    width: 262px;
    height: 27px;
    outline: none;
    background-color: #9460004a;
    border: 2px solid rgb(255, 234, 187);
    color: white;
    border-radius: 20px;
    
}

input::placeholder{
    color:rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.512);
}

.place-booked{
    background: #be7c02;
    text-align: center;
    width: 240px;
    height: 27px;
    color: white;
    border: 2px solid rgb(255, 208, 0);
    border-radius: 20px;
    
    

}

.book-seat h2{
    text-align: center;
    width:250px;
    background-color: #946000;
    color: #ffd700; 
    padding:10px;
    border-radius: 50px;
    border: 2px dashed #ffd700;
}

.place-booked:hover{
    background-color: #be7c02;
    transition: all 0.3s ease ;
    transform: scale(1.1);
}

input:hover{
    border: 3px solid #ffd900;
   
}



.cafe-img{
    border-radius: 20px;
    box-shadow: 0 0 20px #593a01;
}

.heading{
    padding: 5px;
    font-weight: bolder;
    font-size: xxx-large;
    background-color: #946000;
    display: inline;
    color: rgb(255, 208, 0);
    
}


.about{
    display: flex;
   
}


.about-text{
    color: black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.about-cafe-img{
    box-shadow: 0 0 10px #946000;
    border-radius: 50%;
    margin: 40px;
    padding: 10px;
}

.highlight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.638),rgba(0, 0, 0, 0.633)),url("8f166ee7743f0a59ff29e1ae5d6374fd.gif");
    width: 100%;
    height: 350px;
    padding: 20px;
}

#high{
    font-size: 80px;
    border: 3px solid black;
    padding: 35px;
    border-radius: 50%;
}

.coffee{
    border: 4px solid #ffa600;
    border-radius: 20px;
    background: linear-gradient(to right , #946000b9,rgba(255, 255, 255, 0.71));
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.coffee:hover{
    box-shadow: 0 10px rgba(255, 208, 0, 0.577);
    background: #ffa60066;
    background: linear-gradient(to right ,rgba(255, 255, 255, 0.464) ,#9460007d);
}

.highlight-heading{
    color: brown;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;

}
.coffee i{
    background-color: rgba(255, 255, 255, 0.447);
}

.highlight-text{
    color: black;
    font-size: 15px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.banner img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 4px solid #946000;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 242, 175, 0.652);
    width: 310px;
    height: 460px;
    justify-content: space-evenly;

}

.food{
    width: 210px;
    height: 170px;
    border-radius: 20px;
    border: 2px solid #946000;
}


.food-name{
    color: #593a01;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration: underline;
}

.price{
    color: red;
    font-size: larger;
    font-weight: bolder;
}

.line{
    color: #593a01a3;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: line-through;
}

.desp{
    font-family: fantasy;
}

.cart{
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #946000 ;
    color: rgb(255, 251, 126);
    font-weight: 600;
    margin-top: auto;

}

.cart:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    box-shadow: 0 0 10px #946000;
    background-color: rgb(255, 208, 0);
    color: #946000;
}

.menu-item:hover{
    box-shadow: 0  0 40px rgba(255, 208, 0, 0.577);
    transition: all 0.3s ease;
    transform: scale(1.01);
    
}


.cart-box{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.5);
    backdrop-filter:blur(5px);
    z-index:1000;
}

.order{
    width:420px;
    max-height:80vh;
    overflow-y:auto;
    background:#fff;
    border-radius:20px;
    padding:20px;
}

.cart-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #946000;
    color: #ffd700; 
    padding:10px;
    border-radius: 50px;
    border: 2px dashed #ffd700;
}

.cross1{
    font-size:30px;
    cursor:pointer;
}

.orders{
    margin:20px 0;
}

.orders li{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    margin:10px 0;
    border:2px solid #946000;
    border-radius:10px;
}

.qty button{
    width:30px;
    height:30px;
    cursor:pointer;
}

.cart-footer{
    border-top:2px solid #ddd;
    padding-top:15px;
}

.clear-cart,
.checkout{
    padding:10px 20px;
    margin-top:10px;
    cursor:pointer;
}

.checkout{
    float:right;
}

.empty-cart{
    text-align:center;
    color:gray;
}

.cartimg img{
    position: fixed;
    bottom: 6px;
    right: 6px;
    width: 60px;
    height: 60px;
    border: 4px solid #593a01;
    border-radius: 50%;
    animation: pulse 2s infinite;

}

.cartimg img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px black;
    animation: pulse 3s infinite;
}

.clear-cart,.checkout{
    background-color: #794f023d;
    border: 2px solid #593a01;
    color: black;
    border-radius: 10px;
}

.clear-cart:hover,.checkout:hover{
    background-color: #593a01;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
}



.footer{
    margin-top: 100px;
    background:#946000;
    color:white;
    padding:60px 8% 20px;

}

.footer-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;

}

.footer-logo{

    width:80px;
    margin-bottom:15px;

}

.footer-box h2,
.footer-box h3{

    color:#FFD700;
    margin-bottom:20px;

}

.footer-box p{

    margin:10px 0;
    color:#ddd;
    line-height:1.6;

}

.footer-box i{

    color:#FFD700;
    margin-right:10px;

}

.social-icons{

    display:flex;
    gap:15px;

}

.social-icons a i{

    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#946000;
    border-radius:50%;
    color:white;
    font-size:20px;
    transition:.3s;

}

.social-icons a i:hover{

    background:#FFD700;
    color:#2b1b00;
    transform:translateY(-5px);

}

.map-btn{

    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#946000;
    color:white;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;

}

.map-btn:hover{

    background:#FFD700;
    color:#2b1b00;

}

.footer hr{

    margin:40px 0 20px;
    border:1px solid rgba(255,255,255,.2);

}

.copyright{

    text-align:center;
    color:#bbb;
    font-size:15px;

}



.gallery{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.393),rgba(0, 0, 0, 0.322)),url("8bb387ee878eddeb23baea344d4e13af.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.gallery-img{
    width: 280px;
    height: 200px;
    border: 2px solid white;
    border-radius: 20px;
    
}



.gallery-img:hover{
    transition: all 0.3s ease ;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(255, 238, 0);

}








